 body {

      padding: 0px;
      margin: 0px;
      background-color: purple;
   background-image: url('https://i.ytimg.com/vi/Bdm9tj_dZXU/maxresdefault.jpg');

}

    .quote {


      margin: 0% auto auto auto;
      width: 550px;
      height: 200px;
      padding: 10px 10px;
      background-color: black;
      font-family: Calibri;
      font-weight: bold;
      color: lightgreen;
      opacity: 0.9;
      font-size: 25px;
      border: white solid;
      border-width: 2px; 
      border-color: green;
  
}

    .author {

      margin: 0% auto auto auto;
      width: 550px;
      padding: 10px 10px;
      background-color: black;
      opacity: 0.7;
      font-family: Raleway;
      color: lightgreen;
      font-size: 26px;
      font-weight: bold;
      border: solid;
      border-color: white;
  border-width:1px; 
 

}

    .header {
      font-family: tahoma, cursive;
      font-size: 25px;
      color: white;
      text-shadow: 2px 8px 8px black;
      left: 50%;
      margin-left: 720px;
      background-color: transparent;

}

    button {

      height: 50px;
      width: 150px;
      position: relative;
      margin: 2% auto auto auto;
      align-content: center;
      left: 42%;
      border: solid;
      border-width: 1px;
      border-color: purple;
      

}
